li {
    list-style-type: none;
}
a.red-button {
  position: relative;
  padding-left: 20px;
}

a.red-button:before {
  content:'';
  position: absolute;
  left: 0;
  background: red center center no-repeat;
  background-size: contain;
  height: 10px;
  width: 10px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}
