p {
  animation-duration: 5s;
  animation-name: slideout;
  /*animation-fill-mode: forwards;*/
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
@keyframes slideout {
0% {
  margin-left: 0%;
  width: 100%;
  background: red;
  }

50% {
  margin-left: 110%;
  width: 100%;
  background: blue;
  }

  100% {
    margin-left: 0%;
    width: 100%;
    background: green;
    }

}
